#!/usr/bin/env bash

if command -v hx &> /dev/null; then
  export EDITOR=hx
elif command -v vim &> /dev/null; then
  export EDITOR=vim
else
  export EDITOR=nano
fi

{{- if contains "opensuse-tumbleweed" .chezmoi.osRelease.id }} 
# Enable experimental ZYPPER features
export ZYPP_MEDIANETWORK=1
export ZYPP_PCK_PRELOAD=1
export ZYPP_CURL2=1
{{ end }}
