#!/usr/bin/env bash
# This is a chezmoi template file that adapts the content to the os of the target machine

# Setup of mise-en-place to enable to find tools in rc file
# See https://mise.jdx.dev/dev-tools/shims.html#zshrc-bashrc-files for more info
if command -v mise &> /dev/null
then
	eval "$(mise activate bash)"
	eval "$(mise hook-env -s bash)"
fi

# Misc
{{ if eq .chezmoi.osRelease.id "debian" }}
if command -v bat-cat &> /dev/null
then
    alias cat='bat-cat'
fi
{{ end }}

{{ if ne .chezmoi.osRelease.id "debian" }}
if command -v bat &> /dev/null
then
    alias cat='bat'
fi
{{ end }}

if command -v nvim &> /dev/null
then
    alias v='nvim'
    alias vi='nvim'
    if test -d $HOME/.config/minivim
    then
        alias mvim='NVIM_APPNAME=minivim nvim'
    fi
fi

if command -v fastfetch &> /dev/null
then
    alias ff='fastfetch'
fi

# File stuff
if command -v lsd &> /dev/null
then
    alias ls='lsd --group-directories-first'
    alias ll='lsd --all --group-directories-first --git --long'
    alias tree='lsd --all --directory-only --tree'
fi

if command -v exa &> /dev/null
then
    alias ls='exa --group-directories-first'
    alias ll='exa --all --group-directories-first --git --long'
    alias tree='exa --all --directory-only --tree'
fi


if command -v eza &> /dev/null
then
    alias ls='eza --group-directories-first'
    alias ll='eza --group-directories-first --git --long'
    alias ll='eza --all --group-directories-first --git --long'
    alias tree='eza --all --directory-only --tree'
fi

alias mkdir='mkdir -pv'
alias cp='cp -iv'

# Colorize grep output
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'

# Ease reading of sizes
alias df='df -h'
alias free='free -m'

# Git stuff
alias gst='git status'
alias ga='git add'
alias gapa='git add --patch'
alias gco='git checkout'
alias gcb='git checkout -b'
alias gp='git push'
alias glgg='git log --graph'
alias glgga='git log --graph --decorate --all'
alias glo='git log --pretty="oneline"'
if command -v lazygit &> /dev/null
then
    alias lg='lazygit'
fi

# Top 5 processes consuming memory
alias psmem='ps auxf | sort -nr -k 4 | head -5'

# Top 5 processes consuming CPU
alias pscpu='ps auxf | sort -nr -k 3 | head 5'

# Fix bug with flatpak applications that cannot start when keybase is installed and /kbfs is mounted
# https://github.com/flatpak/flatpak/issues/5496
alias fix-flatpak='fixflatpaks'
alias fix-flatpaks='fixflatpaks'
alias fix_flatpak='fixflatpaks'
alias fix_flatpaks='fixflatpaks'

# Update GRUB
alias update-grub='sudo grub-mkconfig -o /boot/grub/grub.cfg'
alias grub-update='sudo grub-mkconfig -o /boot/grub/grub.cfg'

# Get the error messages from journalctl
alias jctl="journalctl -p 3 -xb"

{{ if eq .chezmoi.osRelease.id "arch" }}
# PACMAN
# pacman unlock
alias unlock="sudo rm /var/lib/pacman/db.lck"
alias rmpacmanlock="sudo rm /var/lib/pacman/db.lck"

# Aliases for software managment
# pacman
alias update="sudo pacman -Syyu"
alias upd="sudo pacman -Syyu"

# Recent Installed Packages
alias rip="expac --timefmt='%Y-%m-%d %T' '%l\t%n %v' | sort | tail -200 | nl"
alias riplong="expac --timefmt='%Y-%m-%d %T' '%l\t%n %v' | sort | tail -3000 | nl"

# Cleanup orphaned packages
alias cleanup="sudo pacman -Rns $(pacman -Qtdq)"

# Various fixes
alias keyfix="fixkeys"
alias key-fix="fixkeys"
alias keys-fix="fixkeys"
alias fixkey="fixkeys"
alias fixkeys="fixkeys"
alias fix-key="fixkeys"
alias fix-keys="fixkeys"
{{ end }}

{{- if eq .chezmoi.osRelease.id "fedora" }}

# Package manager
alias update="dnf check-update"
alias upgrade="sudo dnf upgrade --refresh"
alias fullupgrade="sudo dnf distro-sync --refresh && flatpak update"
alias install="sudo dnf install"
alias remove="sudo dnf remove"
alias search="dnf search"
alias pkglist="dnf list installed"
alias cleancache="sudo dnf clean all"
alias cleanorphans="sudo dnf autoremove"
{{- end -}}

{{- if contains "opensuse-tumbleweed" .chezmoi.osRelease.idLike -}}

# zypper
alias update="sudo zypper refresh && sudo zypper dup"
alias upall="sudo zypper refresh && sudo zypper dup && sudo flatpak update"
{{- end }}
