#!/usr/bin/env fish

### EXPORT ###
set fish_greeting # disable fish greeting message
set -gx EDITOR vi

### Manage $PATH
# Add ~/.local/bin to the end of $PATH if the directory exists
fish_add_path --append --path ~/.local/bin

### homebrew for linux
if test -d /home/linuxbrew
    eval (/home/linuxbrew/.linuxbrew/bin/brew shellenv)
end

if status is-interactive

    ### FUNCTIONS ###
    # Fix bug with flatpak applications that cannot start when keybase is installed and /kbfs is mounted
    # https://github.com/flatpak/flatpak/issues/5496
    function fix-flatpak -d "Fix flatpak startup issue"
        systemctl --user restart keybase-redirector.service kbfs.service
    end

    ### Activate mise
    if type -q mise
    	mise activate fish | source
    end

    ### ALIASES ###
    # Changing ls to eza
    if type -q eza
        alias ls='eza  --long --all --icons --git --group-directories-first'
    end

    # Better defaults
    alias df='df -h'
    alias free='free -m'
    if type -q rg
        alias grep='rg'
    end

    {{ if ne .chezmoi.osRelease.id "debian" }}
    if type -q bat
        alias cat='bat'
    end
    {{ end }}

    {{ if eq .chezmoi.osRelease.id "debian" }}
    if type -q bat-cat
        alias cat='bat-cat'
    end
    {{ end }}

    # fix-flatpak function
    alias fix-flatpaks='fix-flatpak'
    alias fix_flatpak='fix-flatpak'
    alias fix_flatpaks='fix-flatpak'

    # git
    alias gst='git status'
    if type -q lazygit
        alias lg='lazygit'
    end

    # Grub update
    alias update-grub='sudo grub-mkconfig -o /boot/grub/grub.cfg'
    alias grub-update='sudo grub-mkconfig -o /boot/grub/grub.cfg'

    # helix
    alias hx='helix'

    # kubernetes
    alias k='kubectl'
    alias kgp='kubectl get pods'

    # nvim
    if type -q nvim
        alias v='nvim'
        alias vi='nvim'
        if test -d $HOME/.config/minivim
            alias mvim='NVIM_APPNAME=minivim nvim'
        end
    end

    {{ if eq .chezmoi.osRelease.id "arch" }}
    # pacman
    alias update="sudo pacman -Syu"
    alias fullupdate="sudo pacman -Syu && yay -Syu"
    alias install="sudo pacman -S"
    alias remove="sudo pacman -Rns"
    alias pkglist="pacman -Q"
    alias pkgaurlist="pacman -Qm"
    alias pkginfo="pacman -Qi"
    alias pkgsearch="pacman -Ss"
    alias pkgfile="pacman -Qo"
    alias pkgfilesearch="pacman -F"
    alias pkgfilelist="pacman -Ql"
    alias pkgfilelistsearch="pacman -Fl"
    alias cleancache="sudo pacman -Sc"
    alias cleanaurcache="yay -Sc"
    alias cleanorphans="pacman -Qtdq | sudo pacman -Rns -"

    alias update-mirrors='sudo reflector --verbose --score 100 --latest 20 --fastest 5 --sort rate --save /etc/pacman.d/mirrorlist'
    alias fix-key='sudo rm /var/lib/pacman/sync/* && sudo rm -rf /etc/pacman.d/gnupg/* && sudo pacman-key --init && sudo pacman-key --populate && sudo pacman -Sy --noconfirm archlinux-keyring && sudo pacman --noconfirm -Su'
    {{ end }}

    ### zoxide
    if type -q zoxide
        zoxide init fish | source
        alias za="zoxide add $PWD"
    end

    ### fastfetch
    if type -q fastfetch
        alias ff='fastfetch'
        fastfetch
    end

    ### fzf
    if type -q fzf
        fzf --fish | source
    end

    ### starship
    if type -q starship
        starship init fish | source
    end
end
