#!/usr/bin/env fish

### EXPORT ###
set fish_greeting # disable fish greeting message
set -gx EDITOR vim

### Manage $PATH
# Add ~/.local/bin to the end of $PATH if the directory exists
fish_add_path --append --path ~/.local/bin
